<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy"
      content="default-src 'self' static:;
               script-src 'self' static: 'unsafe-inline';
               style-src 'self' static:;
               object-src 'none';">
    <title>Urban</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Urban</h1>
    
    <div class="button-grid">
         <button id="btnNewGame">New Game</button>
        <button id="btnLoadGame">Load Game</button>
        <button id="btnBackMainMenu">Back To Main Menu</button>
    </div>

    <div id="process-list"></div>
    <div id="loadGameMenu">
        <h1 id="lgmTitle">SELECT SAVED GAME</h1>
        <button id="lgmExit"></button>
    </div>
    

    <script type="importmap">
    {
        "imports": {
            "pixi.js": "static://libs/pixi.mjs"
        }
    }
    </script>

    <script type="module" src="script.js"></script>
</body>
</html>
